$css--font-face: true;
$font-path: 'https://unpkg.com/carbon-components@8.0.0/src/globals/fonts/';

@import '../../../node_modules/carbon-components/scss/globals/scss/styles';
@import 'utils/temp';
@import 'utils/filedrop';
@import 'utils/policy';
@import 'utils/claim';

$color-blue-light: #00A3FE;
$color-blue-dark: #0031BE;

html, body, .bx--body{
  background-color: $ui-01;
}

.container {
  padding: 2rem 3rem 2rem;
}

.user-container, .claim-container  {
  padding: 2rem 3rem 1rem;
  position: fixed;
  width: 100%;
  z-index: 2;

  .tabs {
    margin-top: 1rem;
    li {
      font-size: 1em;
    }

    ul{
      margin-left: 0;
    }

    .bx--tabs__nav-item--selected .bx--tabs__nav-link {
      color: white;
    }

    @media (max-width: 768px) {
      .bx--tabs__nav-item--selected .bx--tabs__nav-link  {
        color: black;
      }
    }

    .bx--tabs__nav-item--selected {
      border: none;
    }
  }
}


.intro {
  background: linear-gradient(to top, $color-blue-light, $color-blue-dark);
  color: white;

  a {
    color: white;
  }

  @media (max-width: 768px) {
    a {
      color: black;
    }
  }

  .policyInfoContainer >a {
    color: white;
    font-style: italic;
  }
}

.header > a  {
  margin-right: 2em;
  color: white;
  text-decoration: none;
}

.header > .homeLink {
  margin-right: 3em;
  font-size: 1.3em;
  font-weight: 700;
}


.inputContainer{
  margin-top: 3rem;
  color: white;
}

.inputContainer label{
  color: white;
}

.inputContainer label:focus{
  color:red;
}

.inputContainer .bx--form-item{
  margin-bottom: 1em;
  margin-right: 0.5em;
}

.actionContainer {
  .bx--btn--primary {
    color: $color-blue-light;
    background-color: white;
  }

  .bx--btn--secondary{
    border-color: white;
    color: white;
  }

  .bx--btn--primary:hover{
    background-color: $color-blue-dark;
    color: white;
    border-color: white;
  }

  button{
    margin-right: 1em;
  }
}

.info, .policy-info, .claim-info  {
  margin-bottom: 3rem;

  .box {
    border-right: 1px solid $color-blue-light;
    min-height: 21rem;
    background: white;
    padding: 3rem;

    button {
      position: absolute;
      bottom: 0;
    }

    li {
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 400;
    }
  }

  .bx--row {
    margin: 0;
  }

  .box > * {
    margin-bottom: 1rem;
  }

  @media (max-width: 768px) {
    .box {
      border-bottom: 2px solid $color-blue-light;
      border-right: none;
    }
  }

  .box:last-child {
    border: none;
  }

  h2 {
    color: $color-blue-dark;
  }
}

