
.policy-info, .claim-info  {
  top: 21.5rem;
  position: relative;
}

.policyInfoContainer {
  margin-top: 2rem;
  font-size: 1.3em;
}

.policy{
  .bx--structured-list{
    min-width: 100px;
    margin-bottom: 1rem;
  }
}
